
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Adjust as needed */
    z-index: 9999;
    flex-direction: column;
}

.loader_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.loader_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fits the container */
    border-radius: 50%; /* Ensures the image is circular */
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #7F5104; /* Change this color to fit your branding */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
